<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏页面</title>
    <link rel="stylesheet"  href="css/gamePageIndex.css">
</head>
<body>


    <div class="npc-talk">
        <div class="character-box">
            <img src="images/npc/indexCharacter/character2/2.png" alt="和你对话的角色"/>
        </div>
        <div class="npc-dialog-box">
            <div class="npc-name">npc2 :</div>
            <p id="npc-dialog" class="npc-dialog"></p>
        </div>
    </div>



</body>
<script type="text/javascript" src="js/common.js"/>
<script type="text/javascript" src="js/jquery-3.6.0/jquery-3.6.0.js"/>
<script type="text/javascript">
    $(function (){

    })

    // 进入页面  npc 欢迎函数
    setTimeout(function(){
        console.log("1111111");
    },600);

</script>
</html>