<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>

    <link rel="stylesheet"  href="css/index.css">

</head>
<body>


<div class="login">
    <div class="Login-div" >
        <span>Token：<input type="text" class="Login-input" name="nameOrEmail" placeholder=" 请输入token进行登录"/></span>
        <a type="submit" id="login" class="Login-submit">进入游戏</a>
    </div>
</div>



<script type="text/javascript" src="js/jquery-3.6.0/jquery-3.6.0.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">

    $("#login").attr('href',CodeXu_url+'/gamepage?gamepage=index');

</script>
</body>
</html>